@mixin Title {
    text-align: center;
    font-family: "Anton", sans-serif;
    color: var(--text-color);
    font-size: 32px;
    margin-bottom: 25px;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin content-border {
    max-width: 1440px;
    margin: 0 auto;
}

@mixin Logo {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    color: var(--text-color);
}

@mixin mainGradient($deg, $percent) {
    background: linear-gradient($deg, var(--bg-primary) $percent, var(--bg-secondary) 100%);
}

@mixin cardWrapper {
    border-radius: 8px;
    border: 1px solid var(--text-color);
    background: linear-gradient(180deg, var(--bg-primary), 85%, var(--bg-secondary) 100%);
    color: var(--text-color);
    padding: 15px 22px;
}

@mixin backgroundTheme($image) {
    background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../images/bg-theme/#{$image}.webp") no-repeat center/cover fixed;
}

@mixin adminBtn {
    border: 1px solid #1a1a1a;
    border-radius: 3px;
    padding: 5px 7px;
    cursor: pointer;
}

@mixin adminContentBlock {
    border: 1px solid #1a1a1a;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: auto;
}
